@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #ECEAAD;

  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 0 auto;
  }
}